function Sprites.drawLog 8
push argument 0
push constant 8
add
pop local 0
push local 0
push argument 2
push constant 16
call Math.multiply 2
add
push constant 1
sub
pop local 1
push local 1
push constant 8
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 0
push constant 231
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 8
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 8
pop local 0
label IF_FALSE2
push local 1
push constant 231
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 231
pop local 1
label IF_FALSE3
push argument 1
pop local 2
push local 2
push constant 15
add
pop local 3
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 2
push local 1
push local 2
call Screen.drawRectangle 4
pop temp 0
push local 0
push local 3
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
push local 0
push local 2
push local 0
push local 3
call Screen.drawRectangle 4
pop temp 0
push local 1
push local 2
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
push local 2
push constant 6
add
pop local 5
push local 1
push local 0
sub
push constant 1
add
push constant 30
sub
push constant 4
call Math.divide 2
pop local 4
push constant 0
pop local 6
push local 0
push local 4
add
pop local 7
label WHILE_EXP0
push local 6
push constant 3
lt
not
if-goto WHILE_END0
push local 7
push constant 9
add
push local 1
push constant 1
add
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 7
push local 5
push local 7
push constant 9
add
push local 5
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push local 7
push constant 10
add
push local 4
add
pop local 7
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Sprites.drawCar 1
push argument 0
push constant 16
sub
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push constant 497
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 497
pop local 0
label IF_FALSE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push argument 1
push constant 4
add
push local 0
push constant 13
add
push argument 1
push constant 11
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 3
add
push argument 1
push local 0
push constant 5
add
push argument 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 8
add
push argument 1
push local 0
push constant 10
add
push argument 1
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Sprites.drawFrog 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 4
add
push argument 1
push constant 3
add
push argument 0
push constant 11
add
push argument 1
push constant 12
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 5
add
push argument 1
push constant 1
add
push argument 0
push constant 10
add
push argument 1
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 1
add
push argument 1
push constant 1
add
push argument 0
push constant 2
add
push argument 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 1
add
push argument 1
push constant 9
add
push argument 0
push constant 2
add
push argument 1
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 1
add
push argument 0
push constant 14
add
push argument 1
push constant 6
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 13
add
push argument 1
push constant 9
add
push argument 0
push constant 14
add
push argument 1
push constant 14
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
